.achieve-card{
    display: flex;
    justify-content: center;
    align-content: flex-start;
  

        /* display: flexbox; */
    flex-direction: row; /* Arrange cards horizontally */
    flex-wrap: wrap; 
    min-width: 45%;
    max-width: 45%;
    /* margin: 5%; */
    /* From https://css.glass */
/* From https://css.glass */
background: rgba(0, 0, 0, 0.37);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(15.7px);
-webkit-backdrop-filter: blur(15.7px);
border: 1px solid rgba(0, 0, 0, 0.15);
margin-bottom: 4%;
padding-top: 2%;
}