.certificate-main-container{
    display: flex;
    justify-content: flex-start;    
    height: 150px;
    width: 400px;
    background-color: #5C8F75;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
    border-radius: 4px;
    background-image: url("../assets/grouptalk.svg");
    background-position: bottom right;
    background-repeat: no-repeat;
    cursor: pointer;
}

.rocket-image{
    align-self: self-end;

}
.text-container-certificates{
    display: flex;
    background-color: transparent;
    flex-direction: column;
    align-items: center;
}
.certification-main-text{
    background-color: transparent;
    color: #FAFEA9;
    overflow: visible;
    font-size: 36px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.certification-context{
    background-color: transparent;
    color: #2B2528;
    font-weight: 600;
    margin-top: -5px;
}