.mob-certificate-main-container{
    display: flex;
    justify-content: flex-start;    
    height: 115px;
    min-width: 100%;
    background-color: #5C8F75;
    
    margin-top: 14px;
    border-radius: 4px;
    background-image: url("../../../assets/grouptalk.svg");
    background-position: bottom right;
    background-repeat: no-repeat;

}

.mob-rocket-image{
    justify-self: flex-start;
    align-self:self-end;
    height: 80px;

}
.mob-text-container-certificates{
    display: flex;
    background-color: transparent;
    flex-direction: column;
    align-items: center;

}

.mob-certification-main-text{
    background-color: transparent;
    color: #FAFEA9;
    overflow: visible;
    font-size: 28px;
    font-weight: 600;
    justify-content: center;
    margin-bottom: 0px;
    padding-bottom: 0px;

}

.mob-certification-context{
    background-color: transparent;
    color: #2B2528;
    font-size: 12px;
    font-weight: 600;
    margin-top: -5px;

}