@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  background-color: black;
  font-family:"Poppins";
}

.container-is-the-main{
  display: flex;
  justify-content: center;
  align-self: center;
  box-sizing: border-box  ;
}
.main-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 15px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 20px;
  
  max-height: 100%;
}

.sub-group1{
  display: flex;
  justify-content: center;
  align-items: center;
}


.group3{
  display: flex;
  height: 380px;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
}