.education-container{
    display: flex;
    flex-direction: column;
    min-width: 310px;
    height:300px;
    background-color: #9BD9BC;
    border-radius: 6px;
    cursor: pointer;
}

.top-books-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #9BD9BC;
    border-radius: 4px;
}


.education-text{
    font-size: 36px;
    justify-content: center;
    align-self: center;
    background-color: #9BD9BC;
    color: #FF82D6;
    font-weight: 600;
    margin-bottom: 2px;
}


.context{
    align-self: center;
    margin-top: 0px;
    color: #32C17D;
    font-size: 14px;
    background-color: transparent;
    font-weight: 600;
}


.bottom-book-container{
    background-color: #9BD9BC;
    align-self: center;
    height: 40px;
}